/* Fonts */

@font-face {
	font-family: Roboto-regular;
	src: url("font/Roboto-Regular.woff2");
}

/* Responsive stuff */

@media only screen and (max-width: 800px) {
	:root {
		--body-margin: 6vw;
	}
}

@media only screen and (min-width: 800px) {
	:root {
		--body-margin: 10vw;
	}
}

@media only screen and (min-width: 1000px) {
	:root {
		--body-margin: 15vw;
	}
}

@media only screen and (min-width: 1200px) {
	:root {
		--body-margin: 20vw;
	}
}

@media only screen and (min-width: 1500px) {
	:root {
		--body-margin: 25vw;
		--font-size: 18px;
	}
}

@media only screen and (min-width: 2000px) {
	:root {
		--body-margin: 30vw;
		--font-size: 20px;
	}
}

@media (prefers-color-scheme: dark) {
	/* TODO: ligther font (350), import */
	body {
		background-color: #181818;
		color: #dedede;
	}

	h1, h2 {
		color: #ebebeb;
	}
	
	a {
		color: #57a5fe;
	}

	.menu-selected {
		color: #ff6689;
	}

	.pic {
		filter: brightness(.9) contrast(1.1);
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: rgb(250, 250, 250);
		color: rgb(50, 50, 50);
	}

	h1, h2 {
		color: rgb(30, 30, 30);
	}

	a {
		color: #0000ee;
	}

	.menu-selected {
		color: #e90000;
	}
}

/* Global */

html {
	scroll-behavior: smooth;
}

body {
	margin: 5vh var(--body-margin);
	font-size: var(--font-size);
	font-family: 'Roboto-regular', sans-serif;
	line-height: 0.8cm;
}

p {
	line-height: 1.6;
}

a {
	text-decoration: none;
}

img {
	transition: width 0.3s;
}

/* Title and links */

#title {
	margin-top: 32px;
	margin-bottom: 4vh;
}

#title h1 {
	text-align: center;
}

#menu {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-evenly;	
	margin-bottom: 6vh;
}

.menu-item {
	display: inline-block;
	text-align: right;
	margin: 0;
}

.menu-selected {
	font-weight: bold;
}

/* Other */

#content h2 {
	margin-bottom: 4vh;
}