@media only screen and (max-width: 1000px) {
	.project-pic {
		width: 75%;
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1000px) {
	.project-pic {
		width: 40%;
		max-width: 400px;
		margin: 0 0 2vw 2vw;
		float: right;
	}

	/*.left-side {
		float: left;
		margin: 60px 2vw 2vw 0;
	} add left-side to the pic's classes, and change pic top margin to 60px */
	
}

.project-area {
	overflow: hidden;
}

.icon {
	position: absolute;
}

.github-icon {
	position: absolute;
	width: 18px;
	margin: 5px 0 0 6px;
}

#go-up {	/* Hide when on desktop? */
	position: fixed;
	width: max(5vw, 64px);
	margin-bottom: 5vw;
	right: max(5vw, calc(var(--body-margin) - 6vw));
	bottom: min(128px, 20vh);
	opacity: 0;
	transition: opacity 0.2s;
}

#go-up:hover {
	cursor: pointer;
}