@media only screen and (max-width: 1000px) {
	.project-pic {
		width: 75%;
		display: block;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1000px) {
	.project-pic {
		width: 40%;
		max-width: 400px;
		margin: 0 0 2vw 2vw;
		float: right;
	}

	/*.left-side {
		float: left;
		margin: 60px 2vw 2vw 0;
	} add left-side to the pic's classes, and change pic top margin to 60px */
	
}

@media (prefers-color-scheme: dark) {
	.github-icon {
		filter: invert(1);
	}

	.icon {
		filter: contrast(1.5);
		filter: brightness(1.2)
	}
}

.project-area {
	margin-bottom: 48px;
}

.github-icon {
	position: absolute;
	width: 18px;
	margin: 5px 0 0 6px;
}

.icon {
	vertical-align: sub;
}

#go-up {
	position: fixed;
	width: max(5vmin, 64px);
	margin-bottom: 5vw;
	right: max(12vw, calc(var(--body-margin) - 6vw));
	bottom: min(128px, 20vh);
	opacity: 0;
	transition: opacity 0.2s;
}

#go-up:hover {
	cursor: pointer;
}