h2, #download {
	display: inline;
}

h3 {
	margin-top: 32px;
}

ul {
	margin-top: 0;
	padding-left: 16px;
}

.cv-date {
	text-align: right;
	font-style: italic;
	margin: 0;
}

#other-skills {
	margin-left: 16px;
}

#other-skills h4:first-child {
	margin-top: 2px;
}

#other-skills h4 {
	margin-bottom: 0;
}

#other-skills p {
	margin-top: 0;
}

.lists-container {
	display: grid;
	grid-template-columns: min(25%, 160px) auto;
	grid-template-rows: repeat(auto-fit);
	row-gap: 8px;
	margin-left: 15px;
	word-spacing: 3px;
}

.lists-container p:nth-child(odd) {
	font-weight: bold;
}

.lists-container p {
	margin-top: 0;
}
