h2, #download {
	display: inline;
}

h3 {
	margin-top: 32px;
}

.cv-date {
	text-align: right;
	font-style: italic;
	margin: 0;
}

table {
	border-spacing: 15px;
	margin: -15px -15px 0 0;
}

ul {
	margin-top: 0;
	padding-left: 16px;
}

th {
	text-align: left;
	vertical-align: top;
	padding-right: 1.5vw;
}

.lang-name, .lang-emoji {
	margin: 0;
}

.lang-name {
	float: left;
}

.lang-emoji {
	float: right;
}